html, body {
    height: 100%;
}

body {
    /*padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.center-dashboard-item {
	margin-left: 5px !important;
	margin-right:5px !important;
}

.navbar-form {
   padding-left: 0;
}

.navbar-collapse{
   padding-left:0; 
}

.navbar-inner {
    background-color: #033 !important;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

#home-search-form {
    text-shadow: none !important;   
}


/* Home Page Carousel */

.carousel {
    height: 50%;
}

.carousel .item, .carousel .item.active, .carousel .carousel-inner {
    height: 100%;
}

.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media (max-width: 991px) {
    .customer-img, .img-related {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}
.clear {
    clear: both;
}

.search-box {
    margin-top: 15px;
}

.txtbox-search {
    /*width: 314px !important;*/
}

.list-special .list-group-item:first-child {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.list-special .list-group-item:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.list-special .active {
    background-color: #006da8 !important;
    border-color: #006da8 !important;
    color: #fff !important;
    z-index: 2 !important;
}

.top-margin-zero {
    margin-top: 0px !important;
}

.danger-heading {
    color: #d9534f !important;
}

.top-margin-sm {
    margin-top: 15px;
}

.light-heading {
    color: #d14836;
}

.section-heading {
    /*color: #428bca;*/
   color: #004e90 !important; 
}

.custom-label {
    /*color: #999999 !important;*/
   font-size: 14px;
}

.attributes-option-label {
    /*color: #999999 !important;*/
   font-size: 12px;
}

.price-boxes {
    padding-right: 5px !important;
    padding-left: 0px !important;
}

#price-spacer {
    padding-left: 5px;
    display: block;
}

.search-bar-btn {
    padding: 6px 28px !important;
}

.search-bar-p {
    margin-top: 40px !important;
}

.list .row h3, h4 {
    margin-top: 0px !important;
}

.small-heading {
    font-size: 45% !important;;
}

.main-price-text {
    color: #004e90 !important;
	font-size:28px;
}

.list-price-text {
    color: #004e90 !important;
    font-size:14px;
}

.sm-txt{
    font-size:10px;
    color: #000;
    text-decoration: none !important;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-top-0 {
    margin-top: 0px;
}

.ad-detail .list-group-item {
    border-right: none !important;
    border-left: none !important;;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.categories-selection .cat-box {
    height: 322px !important;
    overflow-y: auto !important;
    border: 1px solid #CCC;
}

.locations-selection .cat-box {
    height: 322px !important;
    overflow-y: auto !important;
    border: 1px solid #CCC;
}

.cat-list-item {
    margin: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

a, button {
    outline: 0 !important;
}

.list-final {
    background-color: #009933 !important;
    border-color: #009933 !important;
    color: #fff !important;
}

.img-thumbs {
    padding: 5px;
    border: 1px solid #e3e3e3;
}

.img-remove-btn {
    margin-top: 5px !important;
}

.error-message {
    color:#a94442 !important;
    font-weight:normal !important;
}

.white-backgroup {
	background-color: #fff !important;
}

#main-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}

.black-bottom-border {
	border-bottom: 1px solid #999999 !important;
}


.eshtihar-overlay {
    height:100%;
    width:100%;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;
    color: white;
    position:fixed;
    display: table;
    vertical-align: middle;
}

.overlay-message {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

.overlay-progress {
   background-image: url(../img/loading.gif);
   z-index:100;
}

body {
    background: none repeat scroll 0 0 #f5f8f8;
}

.select-main-option {
    background: #CCC !important;
}

.carousel-box {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;    
}

.item .testi-content img {
    height: 125px;
    width: 143px;
}
.sliddetail{ float:left;}
.sliddetail a{ font-size:12px; width:130px; font-weight:bold; margin-bottom: 0}
.testi-control-left {}
.slider-right{  right: 63% !important;}

.vertical-center {
padding-top: 34px;  
}
.list-img img {
    max-height: 115px;
    max-width: 150px;
}

p.specs {
    color: #999999;
    font-size: 12px;
}
.col-md-12 .sliddetail .thumbnail{ margin-bottom:5px;}
.col-md-12 .sliddetail h4{ margin-bottom:0px;}
.col-md-12 .sliddetail span{
	color: #009933 !important;
    font-size: 12px;
    font-weight: bold;
}
.well .col-xs-6 .thumbnail .similar{ height:133px;}

.followers .thumbnail{ margin-bottom: 0px;}


#list-ads .ads-list {margin-top: 7px !important; margin-left: -28px; padding-right: 0px;}
#manage-ads .ads-list {margin-top: 7px !important; padding-right: 0px;}

.ads-list h3 {
    font-size: 14px !important;
     margin-top: 0px; 
}

.ads-list .ad {padding-left: 0px !important;}

.user-ad {padding-right: 0px;}

.list-price {padding-right: 0px;}

.ads-list h4 {
    font-size: 14px !important; 
}

.ads-list p {
    font-size: 12px !important; 
}

.user-profile-ads {margin-left: -14px !important;}

.dark-link { font-size: 14px; color: #004E90 !important; font-weight: bold;}

/*.tabs-link {color: #004E90 !important;}*/
.tabs-link {color: #333 !important;}

.breadcrumb a {color:#fff}

.profile-name { font-size: 20px; color: #004E90; font-weight: bold;}

.who-to-follow { font-size: 18px; color: #d14836; font-weight: bold;}

.timeline-profile-name { font-size: 12px; color: #00334e; font-weight: bold;}

.list, .profile-top hr {
     margin-top: 0px !important; 
}

.ads-list { position: relative; padding:5px !important}


.hyperspan {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    padding: 5px;
}

.profile-thumb {
    padding: 0px !important;
    border: none !important;;
}


.has-ribbon {
    position: relative;
}

.has-ribbon>img {
    position: relative;
    z-index: 0;
}

.has-ribbon:after,.has-ribbon:before {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: -6px;
    z-index: 10;
}

.has-ribbon:after {
    content: attr(data-text);
    min-width: 40px;
    color: #fff;
    background-color: #d43f3a;
    padding: 2px 6px;
    border-radius: 0 1px 1px 2px;
    -webkit-box-shadow: inset -1px 1px 2px rgba(255,255,255,0.3), inset 0 -1px 3px rgba(0,0,0,0.25);
    box-shadow: inset -1px 1px 2px rgba(255,255,255,0.3), inset 0 -1px 3px rgba(0,0,0,0.25);
}

.has-ribbon:before {
    content: "";
    width: 0;
    height: 0;
    margin-top: -10px;
    border-width: 0 6px 10px 0;
    border-style: solid;
    border-color: #d43f3a transparent;
    border-width: 0 0 10px 6px;
}

.header-logo {
    padding-top: 10px;
}

.has-ribbon.has-ribbon-right:after,.has-ribbon.has-ribbon-right:before {
    right: -6px;
    left: auto;
}

.has-ribbon.has-ribbon-right:after {
    border-radius: 1px 0 2px 1px;
    padding-right: 8px;
}

.has-ribbon.has-ribbon-right:before {
    border-width: 0 6px 10px 0;
}

.summary-box {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.summary-box p{
    padding-top: 6px;
}

.trans-background{
	background-color: transparent !important;     	
}

.light-blue-box {
    background-color: #E7F2FA;
    border: 1px solid #bce8f1 !important;     
}

.left-search-box {
    background-color: #E7F2FA;
    border: 1px solid #bce8f1 !important;     
}

.light-green-box {
    background-color: #006da8;     
}

.light-box {
    background-color: #f5f5f5;     
}

.nav-text {
    color: #fff !important;     
}

.text-success {  text-align: center; padding: 10px; padding: 5px;}
.text-success label { font-size: 14px; font-weight: bold;}

#login-forgot {
    font-size: 14px;
    color: #969696;
}
.login-forgot:hover {
    cursor:  pointer;
}

#login-not-member-yet {
    font-size: 14px;
    color: #969696;
}

.footer-hr {
    margin-top: -9px;
}
.detail-features {
    margin-top:12px !important;
    margin-bottom: 5px !important;
}
.green-text {
    color: #009933;
}
.slider-size {
height: 500px; /* This is your slider height */
}
.carousel {
width:100%; 
margin:0 auto; /* center your carousel if other than 100% */ 
}

.share-facebook {
    color: #46629E;
}
.share-linkedin {
    color: #0177B5;
}
.share-twitter {
    color: #2CAAE1;
}
.share-googleplus {
    color:#DD4B39;
}

#top-right-post-ad { margin-right: 15px !important;}
#top-right-message { margin-right: 15px !important;}
/*#account-panel { margin: 0px;}
#account-panel .col-lg-12{padding-left: 0px; padding-right: 0px;}
#account-panel .col-lg-12 .nav-tabs{margin-bottom: 20px;}
#account-panel .row {
    margin-left: 10px;
    margin-right: 10px;
}  
#account-panel .checkbox-danger{
    margin-left: 10px;
    margin-right: 10px;
}
#account-panel .pull-right .btn-lg{ width: 250px;}
*/
#notifi1{ margin-bottom: 10px;}
#message-panel{ padding-top:10px;}
#message-panel .col-md-10 { width: 79%;}
#message-panel .tab-pane .list-group .checkbox { display: inline-block;}
#message-detail .jumbotron {    float: right;
    padding-left: 60px;
    padding-right: 60px;
    width: 85%;}
#message-detail .alert-success {
    float:right;
    width: 85%;}
#message-detail .alert-warning {
    
    width: 85%;}
#message-detail{margin-top:10px;}
.report.active, .report.active:hover, .report.active:focus {
    color: #999;
}

.eshtihar-banner {
	padding-top: 20px;
}




/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
  padding-bottom: 0px;
}

.cat-tabbable-panel {
  border:none !important;
  padding:0px !important;;  
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  /*margin-right: 2px;*/
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
  font-size:16px;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  
}

.eshtihar-categories .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: #ccc !important;
  
}

.eshtihar-categories .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li.active:hover > a {
  border: 0;
  background: #3 !important;
  
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #f3565d !important;
}

.eshtihar-categories .tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #fff !important;
}

.eshtihar-categories .nav-tabs > li.active > a {
	background-color: #333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
  color: #f3565d;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #333;
  padding: 15px 0;
}

.tabbable-line > .cat-tab-content {
  background-color: #333;  
}

.popular-cities .list-group-item {
  border: 0 !important;  
}

.tabbable-line .tab-content .list-group-item {
  border: 0 !important;  
}

.tabbable-line .tab-content .list-group {
  border-right: 1px solid #d6d6d6;
}

.tabbable-line .tab-content .row .list-group:last-child {
    border-right: 0 none;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.tab-content .list-group-item {
    padding-left: 10px !important; 
}

.tab-content .view-all-cat {
    margin-bottom: -5px !important; 
}

.tab-content .view-all-cat a.list-group-item{
    color: #d43f3a;
}

.tab-content a.list-group-item:hover,
.tab-content a.list-group-item:focus {
    text-decoration:underline !important;
    background-color: transparent !important;;
}



/* --------------------------------------------------*/
.home-cat{
	 background-color: transparent !important;
	 color: #fff !important;
}
.col-item
{
    /*border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #fff;*/
    min-height: 325px;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 7px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover {
    background-color: #E7F2FA;
    cursor: pointer; cursor: hand;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.col-item  .thumb {
    padding:5px;
}

.price-text-color
{
    color: #d14836 !important;
    font-size: 12px;
    font-weight: bold;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}

/* ---------------*/
.modal-header-success {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-warning {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-danger {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-info {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.modal-header-primary {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.dashboard-page-header {
    margin: 0 0 4px !important;
}

.dashboard-page-header2 {
    margin: 0 0 20px !important;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.col-item .price {
    min-height: 62px !important;
}
#frmMainSearch .row .form-group{ margin-bottom: 0;}
#frmMainSearch .light-blue-box{ margin-bottom: 5px; padding-bottom:9px;}
.navbar { min-height: 75px;}
.navbar-collapse {
    margin-top: 12px;
}
.dd-option-text,
.dd-selected-text{ line-height: 0px !important;}


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #006DA8;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #006DA8;
  background-image: #006DA8;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #006DA8;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge.primary {
    background-color: #2e6da4 !important;
}
.timeline-badge.success {
    background-color: #3f903f !important;
}
.timeline-badge.warning {
    background-color: #f0ad4e !important;
}
.timeline-badge.danger {
    background-color: #d9534f !important;
}
.timeline-badge.info {
    background-color: #5bc0de !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
}
.timeline-body > p + p {
    margin-top: 5px;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}
#frmMainSearch .search-cat { width: 550px;}
#frmMainSearch .search-cat .form-group div { float: left;}
#frmMainSearch .search-cat .form-group div input { width:315px; height: 35px;}
#frmMainSearch .col-lg-4 { width: 434px;} 
#frmMainSearch .col-lg-4  .form-group div input { width:200px; height: 35px;}
#frmMainSearch .col-lg-4 .form-group div { float: left;}
.click-nav {
	/*margin:100px auto;*/
	width:200px;
}
.click-nav ul {
        font-size: 12px;
        padding-left: 0;
        border-radius: 5px;
        /*box-shadow: 0 4px 15px 0 rgba(130, 130, 130, 0.87);*/       
}
.click-nav ul li {
	position:relative;
	list-style:none;
	cursor:pointer;
    /*border-style: solid;
    border-width: 0px 1px 1px 1px;*/  
}
.click-nav ul li ul {
    left: 0px;
    position: absolute;
    right: 0px;
    z-index: 10;
}

#cat-browser-box {
    /*background-color: #DCF3DF;*/
}

.bredcrum-bg {
    background-color: #72A9E5;
}

.click-nav ul .clicker {
	background:#fff;
	color:#333;
	padding: 9px;
}

.click-nav ul .cat-clicker {
	background:#c3c3c3 !important;	
}



.click-nav ul .main{
    border:none !important;
    border-width: 0px !important;
}
.click-nav ul .clicker:hover,
.click-nav ul .active {
	background:#ddd;
}

.click-nav img {
	position:absolute;
	top:9px;
	left:12px;
}
.click-nav ul li a {
	transition:background-color 0.2s ease-in-out;
	-webkit-transition:background-color 0.2s ease-in-out;
	-moz-transition:background-color 0.2s ease-in-out;
	display:block;
	padding: 9px 10px;
	background:#fff;;
	color:#333;
	text-decoration:none;
}
.click-nav ul li a:hover {
	background:#c3c3c3;
}
/* Fallbacks */
.click-nav .no-js ul {
	display:none;
}
.click-nav .no-js:hover ul {
	/*display:block;*/
}
.click-nav ul li .glyphicon { 
    left: 183px;
    position: absolute;
    top: 10px;
}
#location{ width:445px;}
#location ul li ul {
    /*left: -306px;*/
    position: absolute;
    right: 0px;
    z-index: 10;
    width:525px;
    background: #fff;
}
#location ul li {
	position:relative;
	list-style:none;
	cursor:pointer;
    /*border-style: none;*/
       
}
#location ul #city-list li {
 float: left;
 width: 33.3%; 
}


#location ul #city-list #selstate {
 width: 525px;
 /*background-color: #ccc;*/
 font-weight: 900;
 font-size: 18px;
 border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    
}
#location ul li .glyphicon {
    left: 425px;
}

.nav-all-cities {
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    margin: -1px;
    width: 525px;
}
.nav-cities {
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
}
.nav-cities:after {
  content: "";
  display: table;
  clear: both;
}

.nav-states {
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    float:none !important;    
}

.nav-cities li a {
    padding: 9px 27px !important;   
}
.test {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.nav-all-cities .glyphicon {
    left: 500px !important;
}

.nav-states li .glyphicon {
    left: 500px !important;
}

.nav-cities  li .glyphicon {
    left: 150px !important;
}

.nav-option {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.nav-option-section li:last-child { border-bottom: 1px solid #ccc; }

.red-nav {
    color:#d9534f;
}

.jumbotron {
  height: 300px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background: url("../img/banner.jpg"); 
  /*background-color:#006DA8;*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.attribute-options {
    max-height: 150px;
    overflow-y: auto;
}

.attribute-heading {
    font-size: 16px !important; 
    color: #004e90 !important;
}

.list-link {
    color: #004e90 !important;
}

.navbar .divider-vertical {
height: 40px;
margin: 0 9px;
border-left: 1px solid #f2f2f2;
border-right: 1px solid #ffffff;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.btn-phone {
    color: #1E91D0;
}
a.btn-phone:hover {
    color: #1E91D0 !important;
}

.btn-message {
   color:#43B51F; 
}
a.btn-message:hover {
    color: #43B51F !important;
}

.btn-reportad {
    color: #FF7F00;
}
a.btn-reportad:hover {
    color: #FF7F00 !important;
}

.btn-savead {
    color: #F83030;
}
a.btn-savead:hover {
    color: #F83030 !important;
}

.active-ad {
    color: #009933;
}
.expired-ad {
    color: #F83030;
}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}

.tree {
    max-height: 200px;
    overflow-y: auto;
    overflow-x:hidden;
}

.tree {
    margin-right: 0px !important;
}
.tree .indent-1 {
    margin-left: 12px;
}

.tree .indent-2 {
    margin-left: 24px;
}

.tree .indent-3 {
    margin-left: 36px;
}

.tree a {
    color: #555555 !important;
    font-size: 12px;
}

.tree a.active {
    font-weight: bold;
}
.tree .indent-4 {
    margin-left: 48px;
}
#header-search {
    
}

.message-ad-link {
    text-decoration: underline;
}
.message-title-link {
    
}

.top-nav-icon {
    font-size:16px !important;
}

[data-notifications] {
    position: relative;
}

[data-notifications]:after {
    content: attr(data-notifications);
    position: absolute;
    background: #d43f3a;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    color: #fff;
    right: -11px;
    top:-12px;
    font-size: 10px;
}

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00334E; vertical-align: middle; }
.box > .icon:hover > .image { background: #3071A9; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: #E7F2FA; border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: #E7F2FA; border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #3071A9; }
.box .space { height: 30px; }

#who-to-follow {
	padding: 5px !important;
	margin: 0px !important;
	background-color: #e7f2fa !important;
	border: 1px solid #bce8f1 !important;
}

.left-search-box hr {
	border-top: 1px solid #bce8f1 !important;
}

#who-to-follow-records hr {
	border-top: 1px solid #bce8f1 !important;
	margin-bottom: 10px !important;
	margin-top: 10px !important;
}

#who-to-follow-records a {
	color: #555555 !important;
    font-size: 14px;
}